<div class="discover-container">
  <div class="title">
    <h3>Discover people</h3>
  </div>

  <div class="grid-style">
    <div *ngFor="let user of users" >
      <nz-card [nzHoverable]="true" style="margin: 15px; width: 230px;"
               [nzActions]="[action]">

        <div class="avatar-container" (click)="userPicked(user)">
          <nz-avatar nzIcon="user" class="avatar"
                     nzSrc="assets/img/most.jpeg"></nz-avatar>
        </div>
        <nz-card-meta [nzTitle]="user.name" [nzDescription]="user.username"
                      class="card-meta"></nz-card-meta>
      </nz-card>

      <ng-template #action>
        <button nz-button class="follow-button" (click)="follow(user)" [nzType]="'primary'">Follow
        </button>
      </ng-template>
    </div>
  </div>
</div>
