<div style="margin-top: 100px;">
  <div class="signup-container">

    <div nz-row nzJustify="center">
      <div nz-col>
        <div class="logo-container">
          <span>𝓐𝓵𝓵 𝓪𝓫𝓸𝓾𝓽 𝓜𝓸𝓿𝓲𝓮𝓼!</span>
        </div>
      </div>

    </div>

    <div nz-row nzJustify="center">
      <div nz-col>
        <form (ngSubmit)="onSubmit()" [formGroup]="validateForm" nz-form class="signup-form">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">

              <input type="text" nzSize="large" nz-input formControlName="name" placeholder="Name"/>

            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">

              <input type="text" nzSize="large" nz-input formControlName="email" placeholder="Email"/>

            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Username!">

              <input type="text" nzSize="large" nz-input formControlName="username" placeholder="Username"/>

            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">

              <input type="password" nzSize="large" nz-input formControlName="password" placeholder="Password"/>

            </nz-form-control>
          </nz-form-item>

          <button nz-button class="signup-form-button signup-form-margin" [nzType]="'primary'">Signup</button>

        </form>
      </div>
    </div>


  </div>

  <div class="login-link-container">
    Have an account? <a routerLink="/">Login</a>
  </div>
</div>
